  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Articles</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
  <body>
  </div>
    <a href="/articles/new"><button class = "myCreateButton"> + ADD NEW ARTICLE</button></a>
      <a href="/"><button class = "myScrollButton"><</button></a>
  <br />
    <ul>
    {{#allArticles}}
      <br />
      <li><h3>{{title}}</h3></li> 
      <li><b>category:</b> {{category}}</li>
      <li><b>created by:</b> {{authors_id}}</li>
      <li><b>last updated on:</b> {{date_created}}</li>
      <li><p>{{{content}}}</p></li>
      <img class = "articles" src='{{image}}'>
      <br />
      <a href="/articles/{{id}}"><button class = "myEditButton">EDIT THIS ARTICLE</button></a>
      <br />
    {{/allArticles}}
    <br />  
      <li><a href="/articles"><button class = "myScrollButton">^</button></a></li>
      </ul>
  </div>
</body>
</html>

