<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article's Page</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body class = "index">
<div class="outer">
<form method = "POST" action ="/articles/{{id}}?_method=PUT">
Author <br />
<input type ="text" name = "authors_id" value ="{{authors_id}}"> <br /><br />
Date created <br />
<input type ="date" name = "date_created" value ="{{date_created}}"> <br /><br />
Category <br />
<input type ="text" name = "category" value ="{{category}}"> <br /><br />
Title <br />
<input type ="text" name = "title" value = "{{{title}}}"> <br /><br />
Content <br />
<textarea type ="text" rows="25" cols="75" name = "content">{{{content}}}</textarea> <br />
Image link <br />
<input type ="text" size = "77" name = "image" value = "{{image}}"> <br /><br />
<button type = "submit" class="mybutton"> UPDATE ME!</button> <br /> <br />
</form>
<form method="POST" action="/articles/{{id}}?_method=DELETE">
<button type ="submit" class="myDeleteButton"> DELETE ME!</button>
</form>
<br />
<a href="/articles"><button class = "mybutton">CANCEL</button> </a>
  </div>
</body>
</html>