<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WIKI NYC</title>
  <link href="/styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body class = "index">
<div class="welcome">
<h2> WELCOME TO NY CITY GUIDE WIKI!</h2>
<p> This is a place for sharing ideas with tourists who come to visit NYC! </p>
<br />
<div class ="options">
<a href="/authors"><button class = "mybutton">VIEW AUTHORS </button></a>
<a href="/articles"><button class = "mybutton">VIEW ALL ARTICLES </button></a>
<br /><br />
</div>
<div class="register">
<h3> PLEASE REGISTER </h3> 
  <form action="/authors" method="POST">
<div class ="labels">
    <label>USERNAME:       
      <input type="text" name="username" size ="40" placeholder =" type your username"/>
      <br /><br /></label>
    <label>FIRST NAME:
      <input type="text" name="first_name" size ="40" placeholder =" type your first name"/>
      <br /><br /></label>
    <label>LAST NAME:
      <input type="text" name="last_name" size ="40" placeholder =" type your last name"/>
      <br /><br /></label>
    <label>EMAIL ADDRESS:
      <input type="text" name="email" size ="40" placeholder =" type your email"/>
      <br /><br /></label>
    <label>PROFILE IMAGE:
      <input type="text" name="profile_image" size ="40" placeholder =" paste link to an image"/> 
      <br /><br /></label>
    <button class = "myCreateButton">REGISTER</button>
    </div>
    </div>
    </form>

<div>
<div id = "createArticle">
<a href="/articles/new"><button class = "myCreateButton"> + ADD NEW ARTICLE</button></a>
</div>
<div>
<br />
   <form action="/articles" method="GET">
<select name = "categories">
  <option value="choose">Filter articles by a category</option>
  <option value="leisure">Leisure</option>
  <option value="food">Food</option>
  <option value="lifehacks">Life Hacks</option>
  <option value="entertainment">Entertainment</option>
</select>
<button class = "mybutton">SEARCH</button></p></li>
</form>
<br />
   <form action="/articles" method="GET">
<select name = "authors">
  <option value="choose">Filter articles by the author</option>
 {{#allAuthors}}
  <option value="{{id}}">{{username}}</option>
  {{/allAuthors}}
</select> 
<button class = "mybutton">SEARCH</button></p></li>
</form>
</ul>
</li> 
</div>
</div>
</body>
</html>